In [1]:
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
dates = pd.read_csv("release_dates.csv")
casts = pd.read_csv('cast.csv')

In [3]:
# How many movies are listed in the titles dataframe?
titles.title.nunique()

223828

In [4]:
# What are the earliest two films listed in the titles dataframe?
titles.sort_values('year').head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

In [5]:
# How many movies have the title "Hamlet"?

titles[titles['title']=='Hamlet'].shape[0]

20

In [6]:
# How many movies are titled "North by Northwest"?
titles[titles['title']=='North by Northwest'].shape[0]

1

In [7]:
# When was the first movie titled "Hamlet" made?
titles[titles['title']=='Hamlet'].sort_values('year').head(1).year

52521    1910
Name: year, dtype: int64

In [8]:

# List all of the "Treasure Island" movies from earliest to most recent
titles[titles['title']=='Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

In [9]:
# How many movies were made in the year 1950?

titles[titles.year == 1950].shape[0]

1113

In [10]:
# How many movies were made in the year 1960?

titles[titles.year == 1960].shape[0]

1549