# Random Forest of Bank Loan Dataset:

In [24]:
import pandas as pd
dataset=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
dataset.head()
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'PersonalLoan', 'SecuritiesAccount',
       'CDAccount', 'Online', 'CreditCard'],
      dtype='object')

In [2]:
data=dataset.drop(["ID","ZIP Code"],axis = 1)
data.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,PersonalLoan,SecuritiesAccount,CDAccount,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [4]:
dataset2=dataset.dropna()

In [5]:
dataset3=dataset2.drop_duplicates()

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
import numpy as np

In [17]:
dataset3["CCAvg"]=np.round(dataset3["CCAvg"])

In [20]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [31]:
features=['Age', 'Experience', 'Income',  'Family', 'CCAvg','Education', 'Mortgage',  'SecuritiesAccount',
       'CDAccount', 'Online', 'CreditCard']

In [32]:
rf_model.fit(X=dataset3[features],y=dataset3["PersonalLoan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [33]:
print("OOB Accuracy")
print(rf_model.oob_score_);

OOB Accuracy
0.986

In [34]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.04997884588618373
Experience 0.04989294500224945
Income 0.3628041654543448
Family 0.10071416155320333
CCAvg 0.13915484288824628
Education 0.17013298396835838
Mortgage 0.04741975889572044
SecuritiesAccount 0.006399307607109927
CDAccount 0.053123031772231974
Online 0.009531199957635817
CreditCard 0.010848757014715786

# Decision Tree Of Bank loan dataset:

In [35]:
from sklearn import tree

In [36]:
tree_model=tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=10)

In [38]:
predictors=pd.DataFrame([dataset3["Education"],dataset3["CCAvg"],dataset3["Income"]]).T

In [40]:
tree_model.fit(X=predictors,y=dataset3["PersonalLoan"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=10,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [44]:
with open("Dtree.dot",'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=["Education","CCAvg","Income"],out_file=f);

In [ ]:
# the tree is generated under the file name Dtree.dot and we can able to read the output from the tree.