# Random Forest of Bank Loan Dataset:

In [24]:
import pandas as pd
dataset=pd.read_excel("Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
dataset.head()
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'PersonalLoan', 'SecuritiesAccount',
       'CDAccount', 'Online', 'CreditCard'],
      dtype='object')

In [2]:
data=dataset.drop(["ID","ZIP Code"],axis = 1)
data.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,PersonalLoan,SecuritiesAccount,CDAccount,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [4]:
dataset2=dataset.dropna()

In [5]:
dataset3=dataset2.drop_duplicates()

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
import numpy as np

In [17]:
dataset3["CCAvg"]=np.round(dataset3["CCAvg"])

In [20]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [31]:
features=['Age', 'Experience', 'Income',  'Family', 'CCAvg','Education', 'Mortgage',  'SecuritiesAccount',
       'CDAccount', 'Online', 'CreditCard']

In [32]:
rf_model.fit(X=dataset3[features],y=dataset3["PersonalLoan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [33]:
print("OOB Accuracy")
print(rf_model.oob_score_);

OOB Accuracy
0.986

In [34]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp);

Age 0.04997884588618373
Experience 0.04989294500224945
Income 0.3628041654543448
Family 0.10071416155320333
CCAvg 0.13915484288824628
Education 0.17013298396835838
Mortgage 0.04741975889572044
SecuritiesAccount 0.006399307607109927
CDAccount 0.053123031772231974
Online 0.009531199957635817
CreditCard 0.010848757014715786

In [58]:
data.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'PersonalLoan', 'SecuritiesAccount', 'CDAccount', 'Online',
       'CreditCard'],
      dtype='object')

In [46]:
import statsmodels.api as sm

In [66]:
Y=dataset3["PersonalLoan"]
X=dataset3[['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'SecuritiesAccount',
       'CDAccount', 'Online', 'CreditCard']]

In [67]:
X1=sm.add_constant(X)

In [68]:
Logistic_BankLoan=sm.Logit(Y,X1)

In [69]:
result=Logistic_BankLoan.fit()

Optimization terminated successfully.
         Current function value: 0.128514
         Iterations 9

In [70]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:           PersonalLoan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4986
Method:                           MLE   Df Model:                           13
Date:                Thu, 29 Oct 2020   Pseudo R-squ.:                  0.5936
Time:                        15:44:04   Log-Likelihood:                -642.57
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
const               -11.6092      4.102     -2.830      0.005     -19.649      -3.569
ID                -5.363e-05   5.14e-05     -1.044      0.297      -0.000    4.71e-05
Age                  -0.0534      0.061     -0.870      0.385      -0.174       0.067
Experience            0.0631      0.061      1.033      0.301      -0.057       0.183
Income                0.0550      0.003     20.960      0.000       0.050       0.060
ZIP Code          -4.568e-06   4.06e-05     -0.113      0.910   -8.41e-05     7.5e-05
Family                0.6949      0.074      9.360      0.000       0.549       0.840
CCAvg                 0.1062      0.039      2.759      0.006       0.031       0.182
Education             1.7322      0.115     15.083      0.000       1.507       1.957
Mortgage              0.0004      0.001      0.804      0.421      -0.001       0.002
SecuritiesAccount    -0.9412      0.286     -3.293      0.001      -1.501      -0.381
CDAccount             3.8248      0.324     11.807      0.000       3.190       4.460
Online               -0.6698      0.157     -4.263      0.000      -0.978      -0.362
CreditCard           -1.1124      0.205     -5.427      0.000      -1.514      -0.711
=====================================================================================
"""